[2017-09-22 17:51] Fish360 opened #1 "Set up Heroku Account"
https://heroku.com

[2017-09-22 17:53] Fish360 opened #2 "Refactor code base for Heroku"

[2017-09-22 17:53] Fish360 opened #3 "Migrate to Heroku"
Once we migrate, then we need to bring down the "old" production site.

[2017-12-08 02:24] jannunzi opened #4 "migrate file upload to cloudinary"

[2017-12-08 02:24] jannunzi opened #5 "migrate database access to mlab"

[2017-12-08 02:24] jannunzi opened #6 "migrate image access to cloudinary"

[2017-12-13 00:01] #1 closed

[2017-12-13 00:01] #2 closed

[2017-12-29 23:00] Fish360 opened #9 "Colloboration via slack"
We are using slack for collaboration:

https://fish360.slack.com

Download the app and create an account. ;-)

[2017-12-29 23:02] Fish360 commented on #9
The best way to reach me with questions, it to add a comment on an issue and tag me or via slack.

@jannunzi , @maddy2308 , @shettysamarth , @snehav27 @fisherboy

[2018-01-30 23:39] Fish360 opened #10 "30-JAN-2018 Meeting Minutes"
#### Priorities

1. Get the new webclient up an running.
2. Embed the new iframe on journal.fish360.net.
3. Update URLs in mobile clients.
4. Fix high priority bugs.
5. Create milestones for new feature development.

#### Action Items

1. Move / Enter high priority bugs. | Julio
2. Update Fish360 Journal URL on iphone App #11 | @jannunzi
3. Update Fish360 Journal URL on Android App #12 | @yashsneh

[2018-01-31 00:49] Fish360 opened #11 "Update Fish360 Journal URL on iphone App"

[2018-01-31 00:50] Fish360 commented on #11
@jannunzi,

Use the Fish360 Apple Dev Account.

[2018-01-31 00:51] Fish360 opened #12 "Update Fish360 Journal URL on Android App"

[2018-01-31 00:51] Fish360 commented on #12
@yashsnehalshah,

You will need to use the Fish360 Android Dev Account.

Contact @jannunzi or myself directly.

[2018-01-31 00:52] Fish360 opened #13 "Get the new web client up an running"
#### Summary
The objective of this task is to get the production site of Fish360 Journal up and running on heroku.

[2018-01-31 00:53] Fish360 opened #14 "Create a new iframe to embed on a webpage"
#### Summary
The Fish360 Journal is hosted at heroku.  Angler will access it from another webpage.  Hence, we need to create an iFrame to embed on another webpage.

We created an iFrame for when the Fish360 Journal was hosted at Red Hat Open Shift.  Perhaps we just need to update the URL?

[2018-01-31 00:55] Fish360 commented on #10
@jannunzi, @patelankita , and @yashsnehalshah

I will enter the high priority bugs to Sprint 1 once we have the new web client up and running.  I want to make sure that that bugs and steps to repeat are still valid.

[2018-02-06 00:13] yashsnehalshah commented on #12
Hi Julio @Fish360,

Can you please give me access of Fish360 Android Dev Account and enlighten me a bit further on which URL i will have to change with which one?

Thanks.

[2018-02-06 00:23] Fish360 commented on #12
@yashsnehalshah,

Email me at: JulioSilva@Fish360.Net.  I will send you the Fish360 Android Dev Account information.

@jannunzi,

Can you provide the URL information?

[2018-02-06 01:09] yashsnehalshah commented on #12
Done @Fish360

[2018-02-06 03:23] yashsnehalshah commented on #12
Hi @Fish360  and @jannunzi ,

This is my understanding of the task that i have to perform for sprint 1. This is my preliminary understanding(and I don't have previous Android experience), so please correct me if i am wrong.

1)Get the APK of the app from the play console.
2)Unpack the APK using Android Studio 3+(Not all files are unzipped, like java files)
3)Make the required changes
4)Build the A

[2018-02-06 03:38] yashsnehalshah commented on #12
While I am going through the Android basics, i understand that the URL might be called from MainActivity.java and this is where changes might have to be made as this is the error i get when i open the app on my cellphone:
![screenfish360](https://user-images.githubusercontent.com/22141408/35840551-0f085b92-0ac5-11e8-9308-53a91db5bfca.png)

Please correct me i am am mistaken.

Thanks.

[2018-02-06 22:06] yashsnehalshah commented on #12
I got some guidance from Professor on how to go ahead. Will do as per.

Thanks.

[2018-02-06 22:09] yashsnehalshah opened #15 "Add new fish independently"
Enable functionality that helps to add new fish to the system, independent of other modules.

[2018-02-06 22:13] yashsnehalshah opened #16 "Associate trip to a fish at the time of adding a new fish"
Associate trip to a fish at the time of adding a new fish using a button inside the "add new fish" module.

Story created as per instructions from Professor.

[2018-02-06 23:54] Fish360 commented on #15
#### Implementation Idea

* The data model we have has Fish associated with a Trip.
* One idea is to create an default Trip.
* Each user has this default trip.
* A Fish that is added from the Fish page will be associated with this default trip.
* This default trip does not need to be visible to the user.  It's just a container.

Just an idea.  :-)

[2018-02-06 23:56] Fish360 commented on #15
#### Related User Story

Once we have this working, a follow up user story would be to allow an Angler to associate a Fish to a Trip.  A fish can only be associated to one trip a time.

[2018-02-06 23:57] Fish360 commented on #15
@yashsnehalshah, @jannunzi

Thank you for adding this!  I updated and added some comments.

[2018-02-06 23:58] #9 closed

[2018-02-07 00:02] Fish360 opened #17 "Save Password Not Working on iOS"
#### Summary
The save password stopped working on Fish360 Journal App on iOS.  This is key for anglers.  They cannot re-login every time to enter a fish when they are fishing.

#### Fig. 1
![save_pwd](https://cloud.githubusercontent.com/assets/2513400/24082969/d2ec5d80-0ca4-11e7-8d44-3b22da02550d.PNG)

[2018-02-07 00:03] Fish360 opened #18 "LAT and LON is are not working for Fish360 Journal on iOS"
#### Summary
LAT and LON is are not working for Fish360 Journal on iOS.

#### Notes

1. This was working in the Web App.
2. Do we need to use "Location Services" for iOS and Android? I.e., Ask the user to allow Fish360 Journal to use the mobile device's location?
3. Need to test on Web App via iOS
4. Need to test on Android

#### Fig. 1

![lat_lon_spot_375](https://cloud.githubusercontent.com/asse

[2018-02-07 00:04] Fish360 opened #19 "Change field label "Spots" to "Spot" on Trip"
#### Summary
Change field label "Spots" to "Spot" on Trip.  We only allow the user to select one spot per trip.

Aside: During a trip, a user may fish different spots, but these spots will more than like have the same tide station, etc.  An Angler can select a very specific spot when he or she enters a fish.

##### Fig. 1

![spots_trip_375](https://cloud.githubusercontent.com/assets/2513400/240829

[2018-02-07 00:06] Fish360 opened #20 "Add support for tablets"
#### Summary

Currently the Fish360 Journal app will only install on phones (iOS and Android).  We need to support tablets (iOS and Android).

#### Acceptance Criteria

1. An Angler can download and install Fish360 Journal on an Android tablet.
2. An Angler can download and install Fish360 Journal on an iOS tablet.

#### Notes

1. I was was able to install the Fish360 Journal app on my iPad by sel

[2018-02-07 00:08] Fish360 opened #21 "Water fields on fish overlap on phone screen size"
#### Summary

The new field organization on fish is looking awesome! There is one scenario where ten water fields overlap on my iPhone when it's in the vertical display position. See figures below. Is there a way to make the display of these fields to be even more responsive?
#### Phone Horizontal

![image](https://cloud.githubusercontent.com/assets/2513400/14769801/1ec06d38-0a2f-11e6-8b61-53caafe

[2018-02-07 00:09] Fish360 opened #22 "Rename mobile desktop icon: Android"
#### Summary

Rename mobile desktop icon name from "FishingJournal" to "Fish360 Journal".

#### Fig. 1

![icone_name_375](https://cloud.githubusercontent.com/assets/2513400/24082870/c5848d68-0ca2-11e7-9354-b1f47415773f.PNG)

[2018-02-07 00:12] Fish360 opened #23 "Add Moon Phase to Trip"
#### Summary

Add the Moon Phase field to the "Sun & Moon" region in Trip like we have in Fish.  The field is automatically set based on the selected Spot and trip Start Date.

#### Acceptance Criteria

1. The Trip form has the "Moon Phase" field.
2. If a Spot is selected, then the Moon Phase field is automatically set based on the selected Spot and the Trip Start Date.
3. If a Spot is not selecte

[2018-02-07 00:13] Fish360 opened #24 "Zip code field has missing '0' from first zip code position"
#### Summary
- When the zip code for a spot starts with a '0', it is not displayed.
- Is the filed type "Number" instead of "Text"?
- International shipping codes have non-numeric characters.
#### Fig. 1

![spot_zip_code_bug](https://cloud.githubusercontent.com/assets/2513400/14856469/27d530fa-0c66-11e6-880b-a975067231a4.PNG)

[2018-02-07 00:15] Fish360 opened #25 "Conditions Report Update"
#### Summary

1. Remove headings: "Condition Report" and "Condition vs FishCount.
2. Remove "Fish Caught" legend.
3. Remove the "," between MON and YYYY.

#### Fig. 1

![conditions_report](https://cloud.githubusercontent.com/assets/2513400/23128703/e82381b8-f74d-11e6-8a1a-0640a5b4d5a8.PNG)

[2018-02-07 00:16] Fish360 opened #26 "TOY Report Update"
#### Summary

1. Remove headings: "Time Of Year Report" and "TimeOfYear vs FishCount.
2. Remove "Fish Caught" legend.
3. Remove "," between MON and YYYY.

#### Fig. 1

![toy_report_275](https://cloud.githubusercontent.com/assets/2513400/23128969/e8f1e782-f74e-11e6-99f0-087b10fe019d.PNG)

[2018-02-07 00:17] Fish360 opened #27 "Moon Phase Report Update"
#### Summary
1. Remove headings: "MoonPhaseReport" and "MoonPhase vs FishCount".
2. Remove "Fish Caught" legend.

##### Fig. 1

![moon_phase_report_275](https://cloud.githubusercontent.com/assets/2513400/23128500/2ad69c9e-f74d-11e6-8d6d-87c50993144d.PNG)

[2018-02-07 00:18] Fish360 opened #28 "Spots report has spots without names"
#### Summary

I created a spots report.  All my spots have names.  When in the report, I do not see all the spots names.  See Fig. 1.

#### Steps

1. Login
2. Create several spots.
3. Create trip.
4. Add a fish to the trip for spot 1.
5. Add a fish to the trip for spot 2.
6. Add a fish to the trip for spot 3.
6. Create a spot report for the dates and species entered in the trip.

#### Expected

Th

[2018-02-07 00:20] Fish360 opened #29 "Update order of top menu items"
#### Summary

Update the menu order to be:

* Trips
* Fish
* Spots
* Gear
* Search
* Reports
* Profile
* Logout

#### Fig. 1

![menu_275](https://cloud.githubusercontent.com/assets/2513400/23129050/3bef4cfe-f74f-11e6-804f-f7e4f075b1b6.PNG)

[2018-02-07 00:22] Fish360 opened #30 "Sol-Lunar Report"
#### Summary

The user clicks a "Trip Report" button and the report for the trip is displayed.  See wire frame.

The goal of the trip report is to provide a visual model of the fishing trip and how the angler did.  The key information is:
1. Start date/time
2. End date/time
3. Moon phase
4. Moon rise
5. Moon set
6. Sun rise
7. Sun set
8. Fish caught

This report is provides similar time of day (TO

[2018-02-07 00:25] Fish360 commented on #30
#### 06-FEB-2018

This user story is still in draft.   Need to discuss and formally define the Acceptance Criteria.

[2018-02-07 00:29] Fish360 opened #31 "Automatically update existing data to new version"
#### Summary

When we update a report or another feature, it's currently only working for new data.  We need a way to update or "migrate" the existing data in the system to to new version.

[2018-02-07 00:50] Fish360 commented on #10
@jannunzi, @patelankita , and @yashsnehalshah

"Move / Enter high priority bugs." --- DONE.

[2018-02-07 00:50] #10 closed

[2018-02-07 00:52] Fish360 opened #32 "Rename mobile desktop icon: iOS"
#### Summary

Rename mobile desktop icon name from "FishingJournal" to "Fish360 Journal".

#### Fig. 1

![icone_name_375](https://cloud.githubusercontent.com/assets/2513400/24082870/c5848d68-0ca2-11e7-9354-b1f47415773f.PNG)

[2018-02-07 02:07] yashsnehalshah commented on #15
Thanks for the implementation suggestion @Fish360

Will work on it.

Today professor @jannunzi  showed me how to perform the required URL change and i did follow his instructions and created a new APK on my local machine. I installed the APK on my android mobile device. While testing, i found out that the logout option seems buggy. The app goes blank when the logout button is clicked and then just

[2018-02-07 02:14] yashsnehalshah commented on #22
Sure @Fish360

While testing on my android device, i found that the icon name is Fish360 and also the icon displays logo of "MIT App Inventor"(Tool used to build APK) rather than the image of red fish. Will figure out how to change that and come up with an updated APK.

[2018-02-07 02:26] Fish360 commented on #15
* Each sprint is due at the end of each month.
* I try to plan n + 2 sprints at a time. I.e., up to two sprints ahead of the current sprint.
* I will assign issues based on areas of expertise and functional areas in the current and future sprints.
* If you complete your assignment, then pull in an issue from the next sprint.
   * If nothing is assigned to you, then assign something to yourself tha

[2018-02-07 02:36] Fish360 opened #33 "Add existing Fish to an existing Trip"
#### Summary

This is an extension of #15.

#### Use Case

1. Angler selects an existing trip.
2. Clicks the "Search fish" button.
3. A search form or field is display that allows the Angler to search for the fish.
4. Angler enters a search string.
5. Angler clicks the "Search" button.
6. A search hit list of matching fish is displayed.
7. Each fish on the search hit list has a "+" button next to

[2018-02-07 02:37] Fish360 commented on #33
#### 06-FEB-2018

Draft.  Needs discussion and Acceptance Criteria

[2018-02-07 02:50] yashsnehalshah commented on #22
Julio, I have built an updated APK with the required icon logo and name on my local machine. I am not sure how to publish that on the play store and would have to look into that. Here are the screens for your reference(Let me know if this doesnt seem the right place to share screenshots, i can then post on hangouts)

![screenshot_2018-02-06-21-31-55](https://user-images.githubusercontent.com/22141

[2018-02-07 02:54] yashsnehalshah commented on #15
Got it. Thank you.

[2018-02-07 18:36] Fish360 commented on #22
@yashsnehalshah

Looking good!

Posting screen shots here is fine.

[2018-02-07 20:45] yashsnehalshah commented on #22
@Fish360

Julio, Ankita has informed that she is out of town for some interviews and would jump in to work once she is back in a day or two. Till then, I am happy to work on any of her assigned tasks if needed. Please feel free to assign me any of her tasks that need immediate attention.

Thanks.

[2018-02-07 21:12] yashsnehalshah commented on #15
Julio @Fish360 ,

The current functionality that allows users to add fish to a trip, asks for many fields such as caught date, spot, species, gear, size, tide info etc. As i understand, the only fields that should be presented to angler when he independently adds a fish(new functionality) should be species and notes. Is this correct? The user can then fill up the misc details when he actually catc

[2018-02-07 21:17] Fish360 commented on #22
@yashsnehalshah,

I have re-assigned the following two critical path issues to you:

* Get the new web client up an running #13
* Create a new iframe to embed on a webpage #14

[2018-02-07 21:41] Fish360 commented on #15
@yashsnehalshah

For this version, let's the the following:

1. Display all of the fields that are available when an Angler adds a new Fish to a Trip.

2. The "Caught Date/Time" fields should default to the current date and time.

Once we have the new web client up, I will test it and create new user story to refine this functionality (as needed).

Aside: Each angler will add different levels of d

[2018-02-07 21:46] yashsnehalshah commented on #22
Ok sure @Fish360

Just to clear up, the goal of #13 is to have the app deployed on heroku to be addressed from https://www.fish360.net/ right?

And i couldn't really understand the #14 task. Can you please shed some more light on the details as to what exactly is required?

PS Pl take your time to reply as its a working day and you might be busy with work as well. You can always ask to DND and rep

[2018-02-08 01:00] Fish360 commented on #13
@jannunzi

What are the sub-tasks / details for this task?

[2018-02-08 01:04] Fish360 commented on #14
@jannunzi

What are the sub-tasks / details for this task?

[2018-02-08 01:05] Fish360 commented on #22
@yashsnehalshah

Mea culpa.  I have added descriptions to task #13 and  task #14.

[2018-02-08 01:35] yashsnehalshah commented on #13
@Fish360 Well there is one version running at https://fish360.herokuapp.com/#/ but that will need to be updated after our planned tasks have been performed.

[2018-02-08 22:44] patelankita commented on #29
Hi Julio @Fish360,

 Can I start working on some issues form sprint 1 as I don't have any task assigned to me right now. Or if you know of any priority task for sprint 0 please let me know.

[2018-02-09 01:17] yashsnehalshah commented on #15
Hey Julio @Fish360 ,

I tried to build the "add new fish independently" function. Here are the screens. It works fine except for the caught time field, where i am not able to show the current time in the required HH:MM AM/PM format. Will work on that. The caught date field defaults to the current date.

![capturefishhome](https://user-images.githubusercontent.com/22141408/36006770-db13dc7c-0d0c-11

[2018-02-09 01:39] Fish360 commented on #14
@patelankita

This is a critical one!

Thank you in advance!!!

[2018-02-09 01:42] yashsnehalshah commented on #14
Hey Julio @Fish360

I had a word with professor. This is the iframe snippet:

<body>
<iframe src="https://fish360.herokuapp.com/#/" height="600" width="300"></iframe>
</body>

The height and width have been selected so as to support normal Iphone users.

It would look like this:

![fishiframe](https://user-images.githubusercontent.com/22141408/36007429-62fe656e-0d10-11e8-976e-e3e7d160767a.JPG)

I

[2018-02-09 01:46] yashsnehalshah commented on #14
@Fish360 Sorry i didn't refresh the page before posting the above comment. Didn't knew it was unassigned to me. Apologies. @patelankita can take from here.

[2018-02-09 01:56] Fish360 commented on #15
Cool!

Keep up the great work!!

@yashsnehalshah

[2018-02-09 01:59] Fish360 commented on #24
Moved into sprint 0.

@patelankita

[2018-02-09 01:59] Fish360 commented on #29
moved to sprint 0.

@patelankita

[2018-02-09 02:12] Fish360 commented on #14
We are a TEAM.
No worries

@yashsnehalshah

[2018-02-09 02:13] Fish360 commented on #14
I added the iframe to a webpage and got this error.

![iframe_error](https://user-images.githubusercontent.com/2513400/36008348-e1362102-0d14-11e8-85f1-292138c928eb.png)

[2018-02-09 02:23] yashsnehalshah commented on #15
Sure:-)

[2018-02-10 00:51] patelankita commented on #24
Hi Julio @Fish360,

 I have a question regarding how should we push the changes? Should we create a separate working branch and create a pull request when each task is done?

[2018-02-10 01:32] Fish360 commented on #24
My recommendation is to do something like:

1. Create a branch for each issue.
2. Commit against the branch.
3. Once you are done, then create a pull request to @jannunzi
4. @jannunzi  then merges the code into the "release" branch.
5. Close the "issue" branch.

@jannunzi, what are your thoughts?

@patelankita

[2018-02-10 01:39] Fish360 commented on #14
Jose,

Here is the iFrame code that I used on the webpage:

![iframe_code](https://user-images.githubusercontent.com/2513400/36057187-545cd652-0dd9-11e8-9411-eaa47d7c6cea.png)

@jannunzi

[2018-02-10 02:11] yashsnehalshah commented on #14
Hi Julio @Fish360 ,

It should have worked. I am not sure why it didn't.

This is a plain HTML code i wrote:

<!DOCTYPE html>
<html>
<head>
<title>Testing</title>
</head>
<body>

<iframe src="https://fish360.herokuapp.com/" height="600" width="300"></iframe>
</body>
</html>

And here is the screen:
![error](https://user-images.githubusercontent.com/22141408/36057567-ab4ad91a-0ddd-11e8-8d09-2d01bb4

[2018-02-10 02:14] yashsnehalshah commented on #14
The page source from my html:

![image](https://user-images.githubusercontent.com/22141408/36057620-36ea507c-0dde-11e8-9101-d878de417359.png)

[2018-02-10 14:49] Fish360 commented on #14
Using a Chrome browser, I went directly to: https://fish360.herokuapp.com/#

1. I cannot log in.
2. The Register form does not display.
3. The Forgot Password page does not display

I.e., no function on this page works. :-(

Hence, I do not think the issue is in the iFrame code itself.

@yashsnehalshah @patelankita @jannunzi

[2018-02-11 20:23] yashsnehalshah commented on #14
We are looking into that @Fish360

I performed the same functions on Chrome browser and was able to register and login.

I clicked on "Forgot Password" and it did redirect(though it didn't send me a new password on my registered email-id)

I will ask Ankita to test once on her machine.

[2018-02-11 20:27] patelankita commented on #14
@Fish360  @yashsnehalshah
The login and register functionality were not working for me yesterday.. But today i tried again and it works. Which is strange! I am trying to figure out the weird behavior.

[2018-02-16 21:37] yashsnehalshah commented on #12
Hi @Fish360 @jannunzi

When i try to publish the new APK on google play, i get the following message:

![image](https://user-images.githubusercontent.com/22141408/36330390-6f505624-1337-11e8-8996-0c2c95e28e30.png)

Can someone please enlighten me on how can i have the correct signature on the APK?

Thanks.

[2018-02-28 00:31] patelankita commented on #14
@Fish360
Julio can you please check if the login and register functionality are working for you now. I checked the logs on heroku and they seem to be working fine now. There was one small fix with the 'logout' functionality, i have corrected the redirection to 'login' page.

 If everything works fine for you then i can create a merge request for this issue.

[2018-02-28 06:21] yashsnehalshah commented on #12
@jannunzi @Fish360

Professor, as an update to this issue, I have found that the app inventor signs the apk (during export) with a certificate associated with a specific account. Since the previous apk was built using your app inventor account, it had that certificate. Thus, the sign was different when i built the apk from my account. I think there are two ways the issue can be resolved:

1) We bu

[2018-03-01 02:32] Fish360 commented on #14
@patelankita,

Still seeing errors.  But, the register pages comes ups now.

Send me an email (juliosilva@fish360.net) and we can coordinate a time tomorrow for an online meeting.  I will share my screen and show you what I am seeing.

[2018-03-02 00:32] Fish360 commented on #14
#### 01-MAR-2018 Meeting Minutes

* Login with existing user account failed. :-(
* Creation of new user account worked! :-)

[2018-03-02 00:40] Fish360 commented on #12
#### 01-MAR-2018 Meeting Minutes

* Need to resolve the singing issue.

@jannunzi

[2018-03-02 00:44] Fish360 commented on #15
#### Meeting Minutes

Use Case

1. Login
2. Go to Fish page.
3. Click the "+"
4. [SYSTEM: default trip is created behind the scenes. This is done only when the first non-trip fish is added.]
5. Add fish screen is displayed.
6. User enters data.
7. Saves

[2018-03-02 00:46] Fish360 commented on #13
#### 01-MAR-2018 MEETING MINUTES

* Tested.
* Works.
* Closing.

[2018-03-02 00:46] #13 closed

[2018-03-02 00:48] Fish360 commented on #24
#### 01-MAR-2018 MEETING MINUTES

* Fixed.
* @jannunzi please review pull request.

[2018-03-02 00:49] Fish360 commented on #29
#### 01-MAR-2018 MEETING MINUTES

* Fixed.
* @jannunzi please review pull request.

[2018-03-02 02:24] Fish360 opened #37 "Add Tide to Spot"
#### Summary

After a spot is created, display the nearby tide stations based on the spot's coordinates (or coordinates derived from the spots's address); e.g., in a drop down menu. When a tide station is selected, display the tide data.  When the spot is saved, the selected tide station becomes associated with the spot.

#### ATC
- The Tide Station field is only displayed if "Salt water" was sele

[2018-03-02 02:30] Fish360 opened #38 "Add Weather to Spot"

[2018-03-02 02:35] Fish360 opened #39 "Update Moon Phase Report"
#### Summary

The current moon phase report is a bit "statistical".  The goal of this user story is to make this report more "visual" and "fishy".

#### Current Implementation

![journal_5_5_f7](https://user-images.githubusercontent.com/2513400/36880762-6736507c-1d98-11e8-9bed-c0a2c54dfa75.PNG)

[2018-03-02 02:39] Fish360 opened #40 "Spot Groups"
#### Summary

An angler can have hundreds to thousands of spots.  Spot Groups is a way for the angler to create a group and then characterize his or her respective spots.
#### Worfklow
- The user adds a new spot or edits an existing spot.
- Click the "+" link to add a new group.
- Clicks the "Add" button.
- Enters a group name.
- Click the save button.
- The Group field is set to the newly created

[2018-03-02 02:43] Fish360 opened #41 "Add Multiple Species to a Spot"
#### Summary

An angler needs to ability to add 1 or more species to a spot.

NOTE: This wire frame and use cases is a suggestion on how to get this done.  If there is a better way, then feel free to propose it. :-)
#### Use Case I: 1 species
- An angler is adding or editing a spot. (Fig. 1)
- The angler types in a species name in the species field and the matching species are listed.
- The angler

[2018-03-02 02:49] Fish360 opened #42 "Display a map on a spot"
#### Notes

1. Mapbox.com
2. Google Maps

[2018-03-02 02:52] Fish360 opened #43 "Create a Spot from a Map"
#### ATC
1. The Tide station is automatically set to closets tide station based on LAT and LONG of the spot and if "Saltwater" check box is clicked.

#### Notes

1. Mapbox.com
2. Google Maps
3. Web client: drop and move pin to create a spot
4. Mobile client: touch screen, menu is displayed with a "Create Spot" option.

[2018-03-03 18:15] Fish360 opened #44 "investigate progressive web apps (PWAs)"

[2018-03-09 07:56] yashsnehalshah commented on #25
Hi @Fish360

I have worked on the issues allocated to me for sprint 1. I have created pull requests for all branches.

Though the changes will exactly serve the requirements, i encountered a problem even before i started working on these issues. I could not render the visualizations as you do in the screenshot you provided above. Probably the module is buggy, or i am not entering the right data fo

[2018-03-09 07:58] yashsnehalshah commented on #25
The screenshot in above comment is of TOY report, but the same problem exists in Conditions Report as well.

[2018-03-28 00:17] yashsnehalshah commented on #12
@Fish360

Hi Julio,

Solved the problem and updated the app on Play Store. Please review.

Thanks.

[2018-03-30 19:38] yashsnehalshah commented on #12
@Fish360

Hi Julio,

Can you please allocate new issues/bugs to me?

[2018-03-31 11:05] Fish360 commented on #12
@yashsnehalshah

See Spot Groups #40.  :-)

[2018-03-31 23:59] yashsnehalshah commented on #12
@Fish360

Yes Julio, will start working on it. Thanks.

[2018-04-01 00:56] yashsnehalshah commented on #40
@Fish360

Hi Julio, I have a question regarding this issue. How do we plan to use this new field that will be added to spot? Right now, we have a drop-down list of spots that we see when we wither add/edit a trip or add/edit a fish. Instead, do we want to see a drop-down list of spot groups in which clicking on any group entry shows a list of spot for that group? That may help angler to search a s

[2018-04-01 06:56] yashsnehalshah commented on #40
Added the "group" feature for "new spot" module. Will also do that for the "edit spot" module. New groups get reflected in the drop-down.
![fast-prototype](https://user-images.githubusercontent.com/22141408/38170612-22fac514-3558-11e8-8694-d3ec45c57d55.JPG)

[2018-04-01 07:04] yashsnehalshah commented on #40
User sees if the group he needs is present in the drop-down. If yes, he selects the group of his choice. Else, he presses the "+" button to add a new group. This lands him to the "new spot group" page. Here user enters the new group name. Clicks the check sign to save(designed so as to be consistent with the UI of rest of the features). Then the user is redirected back to the "new spot" page where

[2018-04-01 12:00] Fish360 commented on #40
@yashsnehalshah

Yash,

The screen shots and the functional behavior you described is correct.

Aside:

1. The purpose of this feature is to allow Anglers to characterize their spots.
2. I will add a new user story that describes how the "Spot Group" and "Spot" fields will be used on a Trip.  In short, when an Angler selects a Group from "Spot Group", then the "Spot" field will display only the sp

[2018-04-01 14:20] Fish360 opened #54 "Advanced Spot Search on Trip"

[2018-04-01 18:25] yashsnehalshah commented on #40
@Fish360

Awesome, thanks for the elaborate description and those wireframes, Julio. Now i understand how the group feature is aimed to be used :)

[2018-04-03 01:03] yashsnehalshah commented on #40
@Fish360

Hi Julio, I have implemented the functionality in "edit spot" page as well. Here are the screens:
![image](https://user-images.githubusercontent.com/22141408/38223508-464e1a36-36b9-11e8-9cd9-18357d3f1951.png)

[2018-04-03 01:07] yashsnehalshah commented on #40
So when a user opens the edit spot page, he/she sees the current group(that the user selected while creating the spot) from the drop-down in the field. Then he can either edit that by selecting some other group from the drop-down or add a new group using "+" sign if he wants to create a new one. After making the choice, the user clicks on the check sign to update the spot. I will create a branch a

[2018-04-03 14:28] patelankita commented on #38
Hey Julio @Fish360,
 Can I start working on this issue, while you assign us the tasks for Sprint 2?

[2018-04-03 20:53] yashsnehalshah commented on #41
@Fish360

Shall i take up this issue, Julio. Looks interesting to work on.

[2018-04-03 21:43] Fish360 commented on #41
@yashsnehalshah

Absolutely!
Assigned.

[2018-04-03 21:45] Fish360 commented on #38
@patelankita

Ankita,

Yes.

Assigned.

[2018-04-03 21:48] Fish360 commented on #38
@jannunzi,

We need a way to decouple the weather/tide service such that the code reads in the API information from a file.

This will allow different installations of the Fish360 Journal to specify what tide/weather API to use.

Has this already been done or do we need a new ticket?

[2018-04-05 07:48] yashsnehalshah commented on #41
![new](https://user-images.githubusercontent.com/22141408/38353301-0b1c7896-3884-11e8-9b18-6bc8f83a4a57.JPG)

======================================
![add](https://user-images.githubusercontent.com/22141408/38353344-24f457f2-3884-11e8-9069-382884b6309f.JPG)

======================================

![edit](https://user-images.githubusercontent.com/22141408/38353360-31790ad6-3884-11e8-8013-713088f44

[2018-04-05 08:00] yashsnehalshah commented on #41
@Fish360

Hi Julio,

I have implemented major part of this feature. Some small errors lurk at someplaces for which i will ask professor to help.

The screenshots elaborate the working of the functionality.
Pic 1) User wants to add a new spot. To add species, user clicks the "+" button.

Pic 2) User is redirected to the "add species" page. Here using the dropdown, user can add multiple species by s

[2018-04-05 21:42] patelankita commented on #38
@Fish360 Julio, I have a question. The spot doesn't have a field for the Date. And for the weather to be displayed, we need the current date and longitude and latitude. So should I  first add the date field to the spot? Please correct me if I am understanding it wrong.

[2018-04-07 11:59] Fish360 commented on #40
@yashsnehalshah

Great work!

I will review all of the tickets and assign you some additional ones.

[2018-04-07 12:02] Fish360 commented on #41
@yashsnehalshah,

Very well done!

I am looking forward to testing this fishy feature!!! ;-)

[2018-04-07 12:04] Fish360 commented on #38
@patelankita

You are correct!

Let's add a Date field to the Weather region on the spot.

The default value of the Date field is the current day.

[2018-04-07 23:30] yashsnehalshah commented on #40
@Fish360

Sure. Thanks Julio!

[2018-04-07 23:32] yashsnehalshah commented on #41
@Fish360

Thanks Julio. I have not created a pull request for this issue, as i am having minor technical errors which I shall discuss with professor(on his first availability) and improve the code based on his insights:-)

[2018-04-09 13:09] patelankita commented on #38
@Fish360 Perfect i have implemented it with the default value as the current day. I am getting a small bug currently, but will resolve it and create a pull request by EOD.

[2018-04-09 23:15] yashsnehalshah commented on #41
@Fish360

@jannunzi

Hi Julio, I was thinking about one way we can redesign the page navigation. As of my current implementation, to add a new group(not present in dropdown) or add/edit multiple species to a pot, the user is redirected to different pages. Instead of this, can we have this functionality on the spot add/edit page itself? Like it will be inside a hidden div which will be displayed on

[2018-04-09 23:56] Fish360 commented on #41
@yashsnehalshah

Yash,

Brilliant!  Go for it.

[2018-04-10 01:04] yashsnehalshah commented on #41
@Fish360

Sure Julio. I wanted your consent before working on it as it will involve some redesigning. Will start on it. Thank you.

[2018-04-10 18:17] patelankita commented on #38
@Fish360 Julio, since morning I am not able to access the weather API. It gives the following error on the console.
<img width="1415" alt="screen shot 2018-04-10 at 2 12 18 pm" src="https://user-images.githubusercontent.com/22179341/38575392-4d2eb746-3cc9-11e8-946f-84f0aa6371e0.png">

On opening the link in browser it shows - "API key has been disabled".

<img width="966" alt="screen shot 2018-04-

[2018-04-10 18:58] Fish360 commented on #37
@patelankita

Thank you Ankita.

[2018-04-10 19:00] Fish360 commented on #38
@patelankita

Ankita,

There is an issue with the API provider.
I am in communication with their tech support. It will be resolved soon'ish.

[2018-04-10 19:03] patelankita commented on #38
@Fish360 Thank you Julio. I will post the screen shots of the added funcitonality as soon as the API starts working.

[2018-04-10 22:13] Fish360 commented on #38
@patelankita

The issue with the Weather/Tide API service has been resolved.  The API should be returning data now, or very soon.

[2018-04-10 22:14] Fish360 opened #56 "Add Server Side Variable to store API information for Tide/Weather service"

[2018-04-10 22:16] Fish360 commented on #56
@jannunzi

Per our conversation, I have created this issue.  Please add more details as needed.  In short, we need to de-couple the API service connection information. This will allow for us to quickly change the API service (if and when required).

[2018-04-10 22:17] Fish360 commented on #56
@patelankita

This may impact your work.

[2018-04-10 23:03] yashsnehalshah commented on #40
@Fish360
Hi Julio,

I have remodeled the "add/edit spot group" feature to reduce the number of extra pages and controllers.

The add new spot page:
![image](https://user-images.githubusercontent.com/22141408/38587789-c9c971a2-3cf0-11e8-989f-971f3fa3f292.png)

User sees if the spot groups he/she needs is present in the dropdown. If yes, user selects it. If no, user clicks on the "+" button which wi

[2018-04-10 23:13] yashsnehalshah commented on #41
@Fish360
Hi Julio,

As per our discussion, the new clean, less bulky version of the feature.

On the new spot page itself, user selects multiple species using the dropdown and "+" button. Select a specie from dropdown and click "+" to add it. You can also remove an added specie using delete button.

![image](https://user-images.githubusercontent.com/22141408/38588164-6d890342-3cf2-11e8-826b-c90f6b

[2018-04-10 23:14] yashsnehalshah commented on #41
I will create pull requests. Can you assign me new issues.

Thanks,

Yash

[2018-04-11 15:14] patelankita commented on #38
@Fish360 Julio,
 I am still getting the same error. API key disabled.

[2018-04-12 12:31] Fish360 commented on #38
@patelankita

Ankita,

:-(

I will follow up again with the service provider.

[2018-04-12 12:32] Fish360 commented on #56
@yashsnehalshah

Yash,

Can you take this one on?

@jannunzi

[2018-04-12 23:17] yashsnehalshah commented on #56
@Fish360

Yes surely Julio. I need some more understanding of the requirement and the problem before i get my hands on the code(which you have already asked to Professor). The API information, as of now, is stored and available on both client side services and server side services(for example: weatheronline.service.client.js and world-weather-online.service.server.js). So it will be really helpful

[2018-04-15 23:28] yashsnehalshah commented on #56
@Fish360

Hi Julio,

Just for your kind information, i may not be very active in the upcoming week due to a presentation and final exam in another course. Hope that is ok. I will surely get back to work as soon as i get free from that stuff. Meanwhile may i please request you to identify most high priority issues that I and Ankita can work on before we wrap up in some weeks?

Thanks and regards,

[2018-04-20 22:58] yashsnehalshah commented on #56
@Fish360

Hi Julio, just got over from this tiresome week of presentation and final exam. Getting back to work now. Please let me know the issues that you want me to work on. I will also work on this issue as soon as i get more clarification/details of what needs to be achieved.

Thanks and regards,

Yash

[2018-04-25 21:29] Fish360 opened #58 "Hackathon 2018"
Topic: Tournaments
Date: TBD
Start: 8:00 AM
Stop: 12:00 PM
Lunch: 12:00 PM - 02:00 PM
Location: TBD

@patelankita, @yashsnehalshah, @jannunzi

[2018-04-25 21:43] Fish360 commented on #58
-----Original Message-----
From: juliosilva@fish360.net
Sent: Wednesday, April 25, 2018 5:43pm
To: "Yash Shah" <shah.yas@husky.neu.edu>, "Ankita Patel" <ankitapatel2202@gmail.com>, "Jose Annunziato" <jannunzi@gmail.com>
Subject: Fish360 Journal Hackaton 2018

Jose, Yash, and Ankita,

I am planning a hackathon for the Fish360 Journal project.

The topic for this hackathon is tournaments.

Tournamen

[2018-04-25 22:01] Fish360 commented on #22
Tested and confirmed fix on my Android tablet.

Closing.

[2018-04-25 22:01] #22 closed

[2018-04-25 22:02] Fish360 commented on #3
@jannunzi,

What's the status on this issue?

[2018-04-25 22:04] Fish360 commented on #12
Tested and confirmed fix on my Android tablet.
Closing.

@yashsnehalshah

[2018-04-25 22:04] #12 closed

[2018-04-25 22:07] Fish360 commented on #14
Re-tested and confirmed fixed on via Chrome browser on Win10 machine.

Closing.

@patelankita

[2018-04-25 22:07] #14 closed

[2018-04-25 22:57] Fish360 commented on #29
Failed re-test. :-(

@jannunzi, did @patelankita the pull request get merged and deployed?

[2018-04-25 22:59] Fish360 commented on #24
Failed re-test. :-(

@jannunzi, did @patelankita's the pull request get merged and deployed?

[2018-04-25 23:01] Fish360 commented on #15
Failed re-test. :-(

@jannunzi, did @yashsnehalshah's the pull request get merged and deployed?

[2018-04-25 23:35] yashsnehalshah commented on #15
@Fish360
Hi Julio,

The request has been merged. But it has not been deployed to heroku yet. Did you git pull and then run the project on your local machine? If its still giving errors, I can look into it.

[2018-04-25 23:37] yashsnehalshah commented on #15
@Fish360

As an update, me and Ankita are working on creating a "developer guide" kind of document as suggested by professor. That would help the next set of developers joining the Fish360 family to have a good starting reference to begin with the coding process. Hope this sounds good.

[2018-04-26 00:10] Fish360 commented on #19
Failed re-test. :-(

@jannunzi, did @patelankita's the pull request get merged and deployed?

[2018-04-26 00:14] Fish360 commented on #15
@yashsnehalshah

A developer guide sounds like a brilliant idea!

Transfer knowledge between teams a priceless skill!!!! ;-)

[2018-06-17 13:30] Fish360 commented on #3
Migrated.
Closing issue.

[2018-06-17 13:30] #3 closed

[2018-06-17 13:31] Fish360 opened #59 "Set up a test environment"

[2018-06-17 13:44] Fish360 commented on #59
@shohitb, I have assigned this task to you.  I would like for you to take the lead of this task (which is really a small project in itself).  Coordinate with @jannunzi, i@patelishan.com, and schanx001.

[2018-06-17 21:53] Fish360 commented on #24
@jannunzi,

Can you follow up on this?  I think we still have a deployment issue. I am still observing the bug. :-(

[2018-06-17 21:56] Fish360 commented on #29
@jannunzi,

Can you follow up on this?  I think we still have a deployment issue. I am still observing the bug. :-(

[2018-06-17 21:57] Fish360 commented on #19
@jannunzi,

Can you follow up on this?  I think we still have a deployment issue. I am still observing the bug. :-(

[2018-06-17 21:59] Fish360 commented on #15
@jannunzi,

Can you follow up on this?  I think we still have a deployment issue. I am still observing the bug. :-(

[2018-06-19 19:56] jannunzi opened #60 "Create QA Machine on Heroku"
Have QA Machine deploy from QA branch.
Configure environment variables such as keys in new server.

[2018-06-19 19:56] jannunzi opened #61 "Create QA branch on github"
Branch off of the latest master branch
Lock Master branch so that only admin can merge to master
All subsequent PRs will be to merge into this new QA branch

[2018-06-19 20:00] jannunzi opened #62 "Create a new QA mlab Mongo instance for QA machine"
Export current production data and import into new QA mlab instance
Configure new QA Heroku machine to use this new QA mlab instance

[2018-06-20 10:52] Fish360 commented on #62
@jannunzi

I have targeted this issue to Sprint 2.
Please assign some one to this issue.

[2018-06-20 10:52] Fish360 commented on #61
@jannunzi

I have targeted this issue to Sprint 2.
Please assign some one to this issue.

[2018-06-20 10:52] Fish360 commented on #60
@jannunzi

I have targeted this issue to Sprint 2.
Please assign some one to this issue.

[2018-07-04 11:27] Fish360 commented on #59
Test environment is up and running.
Closing issue.

[2018-07-04 11:28] Fish360 commented on #60
@jannunzi, can we close this issue now?

[2018-07-04 11:28] Fish360 commented on #61
@jannunzi, can we close this issue now?

[2018-07-04 11:29] Fish360 commented on #62
@schanx001 and Jose,

While testing the issues in Sprint 1, I notice that the data created in the test environment (https://fish360-journal-test.herokuapp.com) shows up in the production environment (https://fish360.herokuapp.com), and vice versa.

Is the purpose of this issue to to create a new db for the test environment?

[2018-07-04 11:33] Fish360 commented on #29
@jannunzi,

1. Passed re-test on test environment (https://fish360-journal-test.herokuapp.com).
2. Please deploy this bug fix to the production environment (https://fish360.herokuapp.com).

[2018-07-04 11:34] Fish360 commented on #24
@jannunzi,

1. Passed re-test on test environment (https://fish360-journal-test.herokuapp.com).
2. Please deploy this bug fix to the production environment (https://fish360.herokuapp.com).

[2018-07-04 11:37] Fish360 commented on #19
@jannunzi,

1. Passed re-test on test environment (https://fish360-journal-test.herokuapp.com).
2. Please deploy this bug fix to the production environment (https://fish360.herokuapp.com).

[2018-07-04 11:40] Fish360 commented on #15
@jannunzi,

1. Passed re-test on test environment (https://fish360-journal-test.herokuapp.com).
2. Please deploy this bug fix to the production environment (https://fish360.herokuapp.com).

[2018-07-04 11:44] Fish360 commented on #40
#### Testing Note | 04-JUL-2018

- Faile re-test on test environment (https://fish360-journal-test.herokuapp.com).
- Cannot save an edited spot after creating a group and associating the group to the spot.
- Additional testing is required.

[2018-07-07 03:25] schanx001 commented on #62
Yes. The purpose is to create a new db for test. Exporting the production db and importing it into a new one.

[2018-07-19 22:01] shohitb commented on #62
created a database for QA environment.

[2018-07-19 22:01] #62 closed

[2018-07-19 22:02] shohitb commented on #60
created a QA environment on heroku to deploy new code and test it before merging to production environment.

[2018-07-19 22:02] #60 closed

[2018-07-19 22:03] shohitb commented on #61
Created a QA branch with the name "fish360-test-env"

[2018-07-19 22:03] #61 closed

[2018-07-20 01:16] Fish360 commented on #21
TRIAGE

- Not reproducible in Test Environment.
- Closing.

[2018-07-20 01:16] #21 closed

[2018-07-20 01:21] Fish360 opened #63 "19-JUL-2018 Meeting Minutes"
#### Notes

1. The reports feature is buggy.  Needs to be reviewed and perhaps refactored.

##### Action Items

See comments below.

[2018-07-27 00:07] Fish360 commented on #63
6. Provide an overview of the API in use (i.e. tide and weather). | @jannunzi

Done.

[2018-07-27 00:07] Fish360 commented on #63
7. Finalize scope for sprint 3. | Julio Silva

Done.

[2018-07-27 00:10] Fish360 opened #64 "26-JUL-2018 Meeting Minutes"
Deploy the following user stories and bugs from Test to Production. | Shantanu and Shohit

- Add Multiple Species to a Spot #41
- Spot Groups #40
- Add new fish independently #15
- Change field label "Spots" to "Spot" on Trip #19
- Update order of top menu items #29
- Zip code field has missing '0' from first zip code position #24

@jannunzi

[2018-07-27 00:11] Fish360 commented on #63
2. Create pull requests to deploy to production: #15, #19, #29, #24 | Shohit, Shantanu, @jannunzi

See: #64

[2018-07-27 00:18] Fish360 commented on #37
#### 26-JUL-2018 Meeting Minutes

* We are going to create server side method / object that will compute the nearest 10 tide station based  lat/long of the spot.
* This server side method will then return the list of 10 tide stations to the UI.

[2018-07-27 00:28] Fish360 opened #65 "Sun and Moon info not displaying on trip"
#### Steps to Repeat

1. Login with Fish/demo account
2. Create Trip
3. Enter Start date.
4. Enter time
5. Select Spot (e.g. Spot 7)

#### Expected Result
The Sun&Moon fields are populated with the correct data.

#### Observed Result
"Please select a date and spot" message is displayed.

![trip_sun_moon_bug](https://user-images.githubusercontent.com/2513400/43296108-42c8db90-9117-11e8-9d9f-460c3a9

[2018-07-27 00:28] Fish360 commented on #65
The Sun and Moon information is displayed on Fish!

[2018-08-02 23:48] Fish360 commented on #63
1. Create a test account with test data to be use for debugging and demos. | Julio Silva

Done.

Email with user name and password sent.

[2018-08-03 00:01] Fish360 commented on #40
#### Test Note | 02-AUG- 2018

This feature works exactly as expected.
The reduced number of clicks is a big win!
Great work @yashsnehalshah

The bug that I was seeing in not with this user story. It's a data issue.  The feature works great on new spots.

[2018-08-03 00:03] Fish360 commented on #40
@jannunzi,

1. Passed re-test on test environment (https://fish360-journal-test.herokuapp.com).
2. Please deploy this bug fix to the production environment (https://fish360.herokuapp.com).

[2018-08-03 00:03] Fish360 commented on #63
3. Test and create new bugs as required for: Spot Groups #40 | Julio Silva

Done.
Passed re-test.
See issue.

New, un-related bug filed: Cannot edit an existing spot (test environment) #66

[2018-08-03 00:10] Fish360 opened #66 "Cannot edit an existing spot (test environment)"
#### Description

- Cannot edit an existing spot in the test environment.
- If a new spot is created in the test environment and saved; then this newly created spot can be created and saved.
- Can edit an existing spot in the production environment.

#### Steps to Repeat

1. Log into: https://fish360-journal-test.herokuapp.com
2. Click the "Spots" top navigation link.
3. Click "Park 7" spot.
4. Ed

[2018-08-03 00:14] Fish360 commented on #41
#### Test Results

This user story works perfectly!

Well done @yashsnehalshah

[2018-08-03 00:14] Fish360 commented on #41
@jannunzi,

1. Passed re-test on test environment (https://fish360-journal-test.herokuapp.com).
2. Please deploy this bug fix to the production environment (https://fish360.herokuapp.com).

[2018-08-03 00:15] Fish360 commented on #63
5. Test and create new bugs as required for: Add Multiple Species to a Spot #41 | Julio Silva
Done.

[2018-08-03 00:17] Fish360 commented on #38
#### Test Result

Failed testing.
Renewing the API license did not resolve the issue.
Requires investigation.

[2018-08-03 00:18] Fish360 commented on #63
4. Test and create new bugs as required for:: Add Weather to Spot #38 | Julio Silva

Done.

[2018-08-03 00:18] #63 closed, assigned to nobody

[2018-08-04 01:21] Fish360 opened #67 "Tournaments Epic"
### ROAD MAP

#### R1.0

1. View Tournaments #68
2. Create Tournament #69
3. Register for a Tournament #70
4. Approve or Reject a Registration #71
5. Submit Fish #72
6. Approve or Reject a Fish #73
7. View Standings #74

#### R2.0
- Divisions #75
- Categories #76
- Teams #77

#### R3.0
- Notifications #78
- Private Messaging

#### R4.0
- Share #79
  - SM
  - iFrame
  - URL

[2018-08-04 01:23] Fish360 opened #68 "View Tournaments"
#### Title
View Tournaments

#### Description
As an Angler I want to view the open Tournaments so that I can get additional information on a tournament.

#### Acceptance Criteria
1. When I click the "Tournaments" top level menu link:
   1. The open filter option is enabled
   2. The open Tournaments are displayed
   3. My open Tournaments are displayed
2.  When I click the "Tournaments" top level

[2018-08-04 01:23] Fish360 opened #69 "Create Tournament"
#### Title
Create Tournament

#### Description
As an Angler I want to create a Tournaments so that I can manage my registrations and fish.

#### Acceptance Criteria
1. When I click the "Tournaments" top level menu link, a "+" icon is displayed on the Tournaments screen.
2. When I click the "+" button on the Tournaments screen, the add Tournament screen is displayed.
3. The Add Tournament screen ha

[2018-08-04 01:24] Fish360 opened #70 "Register for a Tournament"
#### Title
Register for a Tournament

#### Description
As an Angler I want to register for a Tournament so that I can submit fish.

#### Acceptance Criteria
1. When I click the on the "Register" button/icon on the Tournament, the Registration screen is displayed.
2. The Registration screen has the following fields:
   1. First Name (auto populated)
   2. Last Name (auto populated)
   3. etc.
3. Wh

[2018-08-04 01:25] Fish360 opened #71 "Approve or Reject a Registration"
#### Title
Approve or Reject a Registration

#### Description
As a Director I want to approve and reject a registration for my tournament so that I can manage my who can submit fish to my tournament.

#### Acceptance Criteria
1. When I click the "Anglers" link/button on my Tournament, the list of anglers is displayed.
2. Anglers who are not registered have an "Approve" button and a "Reject" button

[2018-08-04 01:26] Fish360 opened #72 "Submit Fish"
#### Title
Submit Fish

#### Description
As an Angler I want to submit my fish to a tournament so that it may qualify for placement.

#### Acceptance Criteria
1. When I click the "Tournaments" link on my fish, a region expands and displays the tournaments that I am registered for that will accept the species that I caught.
2. I can only select one tournament.
3. After I select a tournament, the Su

[2018-08-04 01:26] Fish360 opened #73 "Approve or Reject a Fish"
#### Title
Approve or Reject a Fish

#### Description
As a Director I want to approve or reject a submitted fish to my tournament so that I can manage it's standings.

#### Acceptance Criteria
1. When I click the "Fish" link/button on my Tournament, the list of fish is displayed.
2. Submitted fish have an "Approve" button and a "Reject" button.
3. When I click the "Approve" button on a Fish, the s

[2018-08-04 01:27] Fish360 opened #74 "View Standings"
#### Title
View Standings

#### Description
As an Angler I want to view the standings for a Tournament so that I can see the placements.

#### Acceptance Criteria
1. When I click the "Standings" icon on the Tournaments page, the Standings screen for the respective Tournament is displayed.
2. The Standings is a table with the following columns:
   1. Placement | 1, 2, 3, etc.
   2. Angler | Fist Na

[2018-08-04 01:30] Fish360 opened #75 "Divisions"
#### Description

#### Acceptance Criteria

#### Wire Frame

[2018-08-04 01:30] Fish360 opened #76 "Categories"
#### Description

#### Acceptance Criteria

#### Wire Frame

[2018-08-04 01:31] Fish360 opened #77 "Teams"
#### Description

#### Acceptance Criteria

#### Wire Frame

[2018-08-04 01:31] Fish360 opened #78 "Notifications"
#### Description

#### Acceptance Criteria

#### Wire Frame

[2018-08-04 01:32] Fish360 opened #79 "Share"
#### Description

#### Acceptance Criteria

#### Wire Frame

[2018-08-05 01:42] Fish360 commented on #67
#### "White Board"

##### Tournaments

- When the start date and time is reached, the system sets the Status field to Open.
- When the start date and time is reached, the system sets the Status field to Closed.

##### Regristration
- Anglers who are registered have a "Disqualify" button.
- When I click the "Disqualify" button:
  - The status of the Angler is set to: Disqualified.
  - The status of

[2018-08-05 21:10] yashsnehalshah commented on #40
@Fish360

Thank you Julio. Glad that I got an opportunity to build some useful feature!

[2018-08-10 00:17] Fish360 commented on #37
#### 09-AUG-2018 Meeting Minutes

1. Need to add a field for date. Using JavaScript function.
2. API ID is returning error.
3. Follow up to make sure that the API ID we are using is in fact the same one that we have a license for.
4. How does the following issue relate to this user story?
    * Add Server Side Variable to store API information for Tide/Weather service #56

[2018-08-10 00:35] Fish360 commented on #67
#### Lesson Learned

When viewing a huge scope, break it down by:

1. Priority
2. Dependencies